<div class="row">
  <br>
  <div class="large-3.columns">
    <%= image_tag('reduce.gif', :id =>'logo') %>
  </div>

  <div class="large-9 columns left">
    <ul class="nav-bar right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All Products', products_path %></li>
      <li><%= link_to 'Add Product', new_product_path %></li>
      <li><%= link_to 'All Users', users_path %></li>
      <li><%= link_to 'Add User', new_user_path %></li>
    </ul>
  </div>

</div> <!-- end row -->